.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  background: #c2e2f5;
}

#city {
  color: #4b7bf5;
}
